$global-colors: ( "scrollbar": ( "thumb": #4A4A4A99, "track": #24242499 ) )

$big-block-em: 12em
$small-block-em: 6em
$shrink-leaf-em: 8em
$shrink-block-em: 4em

$line-height-px: 22px

/*--------- Header ---------
$header-size: $big-block-em
$shrink-header-size: $shrink-block-em
$shrink-logo-block-size: $small-block-em
$logo-size: $big-block-em
$logo-img-size: $small-block-em
$logo-flap-size: $shrink-leaf-em

/*--------- Pages ---------
$h1-responsive-font-size: max(2.5rem, min(6vw, 3.0rem))
$p-responsive-font-size: max(1em, min(2vw, 1.5em))

/*--------- Overlay ---------
$overlay-flap-size: $small-block-em

/*--------- Navigator ---------
$navigator-flap-size: $small-block-em
$navigator-expand-length: 2 * $navigator-flap-size

/*--------- CageGrid ---------
$cage-grid-size: $small-block-em / 2

/*--------- Curves ---------
$curve-threshold: .25rem
/*--------- Pivotnav ---------
$root-size: 12em
$node-size: 7em
$li-pos: ($root-size - $node-size) / 2
$items: 10
$extend-radius: $root-size
